# Go
/bin/
/build/
*.exe
*.test
*.out

# Dependency directories
vendor/

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo
*.bak

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
*.env
docker-compose.override.yml

# Misc
node_modules/
.env
